#Extensions
*.aim
*.o
*.log
*.pdf
*.eps
*.png
*.gnp
*.pov
*.dat
*.cpx
*.cub
*.cube
*.tsv
cachegrind.*
*.gz
*.aux
*.bbl
*.toc
*.blg
*.out
*.bkp

#binaries
src/dtkbpdens/dtkbpdens
src/dtkcube/dtkcube
src/dtkdemat1/dtkdemat1
src/dtkfindcp/dtkfindcp
src/dtkline/dtkline
src/dtkmomd/dtkmomd
src/dtkplane/dtkplane
src/dtkpoint/dtkpoint
src/dtkqdmol/dtkqdmol

#Trash and system files
*~
.DS_Store

#Directories
bin/*
bib/*
pres/*
taring/*
mathematica/*
discuss/*
benchmarks/*
forcomparing/*
raytracing/*
proc/*
outputs/*
src/test/*
cudatest/*
src/dtk*/*.wfn
src/dtk*/*.wfx
src/dtk*/makemehere
tex/*.*
tex/dtkmanual/plots/*
tex/dtkmanual/tmp/*
tex/ejemplos/*
wavefiles/*
arts/*

#specific files
namefiglet.txt
src/cmmlist.txt
src/dtkpoint/incoords.txt
tmpcppaste.cpp
src/Makefile.macsol

