#Extensions
*.aim
*.o
*.log
*.pdf
*.eps
*.png
*.gnp
*.pov
*.dat
*.cpx
*.cub
*.cube
*.tsv
cachegrind.*
*.gz
*.aux
*.bbl
*.toc
*.blg
*.out
*.bkp
*.user
*.synctex
*.vmd
*.x
*.sh
*.tga
*.swp

#binaries

#Trash and system files
*~
.DS_Store

#Directories
bin
bib
html
pres
taring
mathematica/*
discuss/*
benchmarks/*
forcomparing/*
raytracing/*
proc/*
outputs/*
src/test/*
src/bin/*
cudatest/*
src/dtk*/*.wfn
src/dtk*/*.wfx
src/dtk*/makemehere
tex/*.*
tex/dtkmanual/plots/*
tex/dtkmanual/tmp/*
tex/ejemplos/*
tex/dtkmanual/snapshots/
wffiles/*
arts/*
src/dtkview/build
wishlist/*
src/devdoc/html/*
src/devdoc/latex
src/dtkcharcicp/jasowfns/*
densityprogs
src/dtkcube/RefG09
src/dtkcube/refCheckden
src/*/ref*
src/oldTest
src/testMEP
src/dtkview/oldbuid
src/dtk*/tmp
src/common/bkpOld
src/dtknci/vmdPlot
src/dtkcube/images

#specific files
namefiglet.txt
src/cmmlist.txt
src/dtkpoint/incoords.txt
tmpcppaste.cpp
src/Makefile.macsol
cprght.txt
src/scripts/dtkaddFDL
src/scripts/dtkrmFDL
src/scripts/dtkaddGPLv3
src/scripts/dtkrmGPLv3
src/scripts/solcube2dat
src/scripts/*wf?
src/firstrelease
AFTER_PUB
src/devdoc/Dev*.html
src/common/*.a
src/common/lclauxsoftwaredefs.h
src/common/LCLREADME
src/NOTES
src/dtk*/NOTES
src/dtk*/LCLREADME
src/dtkview/DensToolKit.pro.*
src/dtk*/bug*
src/dtk*/TODO
tex/dtkmanual/TODO
src/outputsRunTest

